@model ProductsListViewModel


@foreach (var p in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pull-right label label-primary">
                @p.Price.ToString("c")
            </span>
        </h3>
        <span class="lead">@p.Description</span>
    </div>
}
<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-default"
     page-class-selected="btn-primary" class="btn-group pull-right">
</div>


@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @{
        ViewData["Title"] = "List";
    }

    @foreach (var m in Model.Products)
    {
        <div>
            <h3>@m.Name</h3>
            @m.Description
            <h4>@m.Price.ToString("c")</h4>
        </div>

    }

    <div page-model="@Model.PagingInfo" page-action="List"></div>*@