@model ProductsListViewModel

@foreach (var p in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pull-right label label-primary">
                @p.Price.ToString("c")
            </span>
        </h3>
        <form id="@p.ProductID" asp-action="AddToCart"
              asp-controller="Cart" method="post">
            <input type="hidden" asp-for="@p.ProductID" name="ProductID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="lead">
                @p.Description
                <button type="submit" class="btn btn-success btn-sm pull-right">
                    Add To Cart
                </button>
            </span>
        </form>
    </div>
}
    <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-default"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right">
    </div>


@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @{
        ViewData["Title"] = "List";
    }

    @foreach (var m in Model.Products)
    {
        <div>
            <h3>@m.Name</h3>
            @m.Description
            <h4>@m.Price.ToString("c")</h4>
        </div>

    }

    <div page-model="@Model.PagingInfo" page-action="List"></div>*@